body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

.imageList {
	display:block;
	height:150px;
	width:200px
	
}
#starRate{
	height:20px;
	width:60%;
	
}
.single {
	display:flex;
	width:100%;
}
.names{
	display:block;
}
#bestSeller{
	display:inline-block;
	text-decoration:none;
	color:red;
}

#tablePicture1{
	height:75px;
}

#tablePicture2{
	height:75px;
}

#tablePicture3{
	height:75px;
}

#tablePicture4{
	height:75px;
}

#tablePicture5{
	height:75px;
}

#tablePicture6{
	height:75px;
}
#name{
	border-color:#808080;
}
tr.gray{
	background-color:gray;
}
tr.gray > th{
	background-color: white;
	grid-auto-rows:100%;
	max-width:50%;
	
}
.productTable{
	border-collapse:collapse;
}

.productImage{
	width:80%;
}

.flexContainer{
	
	display:block;
	
	
}
.flexContainerTile{
	display:inline-block;
	width:33%
}
.ratingTiles{
	height: 20px;
	width: 60%;
}
.blue{
	color:blue;
}


.link a{
	text-decoration: none;
	color:black;
}

